.advantage
    @include padding-around
    background-color: $primary-bg-white

    &__heading
        @include secondary-h3-bold()

    &__cards
        margin-top: 40px
        display: flex
        justify-content: space-evenly
        flex-wrap: wrap
        gap: 16px

    &__card
        padding: 14px 12px
        display: flex
        flex-direction: column
        align-items: center
        //justify-content: space-evenly
        flex: 0 0 110px
        background-color: $primary-bg-light_green
        border-radius: 5px

    &__card-icon
        width: 35px
        height: 35px

    &__card-head
        margin-top: 7px
        font-style: normal
        font-weight: bold
        font-size: 16px
        line-height: 18px
        text-align: center
        letter-spacing: 0.44px
        color: $primary-text-grey
        &-desktop
            display: none

    &__card-text
        margin-top: 7px
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 18px
        text-align: center
        color: $primary-text-grey
        &-desktop
          display: none

@media (min-width: 615px) and (max-width: 767px)
    .advantage__cards
        padding: 0 76px


@media (min-width: $media-tablet)
    .advantage
        padding: 60px 30px

        &__heading
            @include secondary-h1()

        &__cards

        &__card
            margin: 9px
            padding: 40px 10px
            flex: 0 0 300px


        &__card-icon
            width: 92px
            height: 92px

        &__card-head
            margin-top: 20px
            font-style: normal
            font-weight: bold
            font-size: 24px
            line-height: 36px
            &-desktop
                display: block
            &-mobile
                display: none

        &__card-text
            margin-top: 16px
            font-style: normal
            font-weight: normal
            font-size: 18px
            line-height: 24px
            &-desktop
                display: block
            &-mobile
                display: none


@media (min-width: $media-desktop)
    .advantage
        padding: 80px 0
        @include padding-left-right-calc($content)

        &__heading
            //@include primary-h2()

        &__cards
            margin-top: 60px

        &__card
            padding: 40px 30px

        &__card-icon

        &__card-head
            margin-top: 20px
            //@include primary-h3-bold()

        &__card-text
            margin-top: 16px
            //@include tertiary-h4()