.advantage
    @include padding-around
    background-color: $primary-bg-white

    &__heading
        @include secondary-h3

    &__cards
        margin-top: 40px
        display: flex
        justify-content: space-between
        flex-wrap: wrap

    &__card
        margin: 7px
        padding: 14px 10px 8px
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between
        flex-basis: 121px
        flex-grow: 1
        background-color: $primary-bg-light_green
        border-radius: 5px

    &__card-icon
        height: 35px

    &__card-head
        font-size: 10px
        line-height: 10px
        text-align: center
        margin-top: 7px

    &__card-text
        font-size: 10px
        line-height: 10px
        text-align: center
        margin-top: 7px

@media (min-width: $media-desktop)
    .advantage
        padding: 80px 0
        @include padding-left-right-calc($content)

        &__heading
            @include primary-h2()

        &__cards
            margin-top: 60px

        &__card
            margin: 12px
            padding: 40px 30px
            flex-basis: 360px

        &__card-icon
            height: 100px

        &__card-head
            margin-top: 20px
            @include primary-h3-bold()

        &__card-text
            margin-top: 16px
            @include tertiary-h4()