.care
    @include padding-around
    background-color: $primary-bg-white

    &__heading
        @include secondary-h3-bold()

    &__container
        //margin-top: 60px
        //display: flex
        //justify-content: space-between

    &__checks
        padding: 0
        border: none

        //display: flex
        //flex-direction: column

    &__input
        display: none

        //&:checked + .care__label > .care__arrow
        //    transform: translateX(0px)
        //&:checked + .care__label > .care__arrow + span
        //    transform: translateX(0px)
        //&:checked + .care__label
        //    border-bottom: 2px solid $tertiary-green_01

    &__label
        display: inline-block
        margin-top: 40px

    &__text-main
        @include secondary-text-h3-bold()

    &__text
        margin-top: 17px
        @include secondary-text-h3()
        //@include tertiary-h4
        //margin-top: 20px
        //@include primary-h3-text
        //color: $primary-text-grey

        //width: 420px
        //padding: 20px 0
        //border-bottom: 1px solid $tertiary-dark-grey
        //@include primary-h3-text
        //color: $primary-text-grey
        //cursor: pointer
        //transition: border-bottom-color .3s ease-in-out
        //overflow: hidden

    &__arrow
        display: none
        margin-right: 20px
        //display: inline-block
        transform: translateX(-60px)
        transition: transform .5s ease-in-out, opacity .5s
        & + span
            display: inline-block
            //transform: translateX(-60px)
            transition: transform.5s ease-in-out, opacity .5s

    //&__arrow-img

    //&__slides
        //display: none

    //&__slide .care__text

    //&__img
        //display: none


@media (min-width: $media-tablet)
    .care
        padding: 60px 30px

        &__heading
            @include secondary-h1()

        &__label
            font-style: normal
            font-weight: 500
            font-size: 24px
            line-height: 36px

        &__text-main
            @include secondary-text-h2-bold()

        &__text
            @include secondary-text-h2()


@media (min-width: $media-desktop)
    .care
        padding: 80px 0 320px
        @include padding-left-right-calc(1200px)

        &__heading
            @include landing-h3()

        &__checks
            position: relative
            margin-top: 60px

        &__input
            &:checked + .care__label > .care__arrow
                transform: translateX(0px)
            &:checked + .care__label > .care__arrow + span
                transform: translateX(0px)
            &:checked + .care__label
                border-bottom: 2px solid $secondary-text-orange
            &:checked + .care__label + .care__text
                opacity: 1

        &__label
            width: 490px
            padding: 20px 0
            margin-top: 0
            display: block
            border-bottom: 1px solid $tertiary-dark-grey
            //@include primary-h3-text
            cursor: pointer
            transition: border-bottom-color .3s ease-in-out
            overflow: hidden

        &__arrow
            width: 53px
            height: 20px
            background: url('../img/arrow-to-right-icon.svg') no-repeat
            margin-right: 20px
            display: inline-block
            transform: translateX(-60px)
            transition: transform .5s ease-in-out, opacity .5s
            color: $secondary-text-orange
            & + span
                display: inline-block
                transform: translateX(-60px)
                transition: transform.5s ease-in-out, opacity .5s

        &__text
            opacity: 0
            position: absolute
            right: 0
            top: 0
            margin-top: 0
            padding-top: 390px
            width: 690px
            @include landing-h6()
            transition: opacity .5s ease-in-out

        &__text-main
            @include landing-h4()

    #person-img
        border-radius: 5px
        background-image: url('../img/individual-approach-690.jpg')
        background-size: 690px 370px
        background-repeat: no-repeat
    #coach-img
        border-radius: 5px
        background-image: url('../img/professional-trainer-690.jpg')
        background-size: 690px 370px
        background-repeat: no-repeat
    #time-img
        border-radius: 5px
        background-image: url('../img/choose-time-690.jpg')
        background-size: 690px 370px
        background-repeat: no-repeat
    #gift-img
        border-radius: 5px
        background-image: url('../img/gift-690.jpg')
        background-size: 690px 370px
        background-repeat: no-repeat
    @include retina($media-desktop)
        #person-img
            background-image: url('../img/individual-approach-1380.jpg')
        #coach-img
            background-image: url('../img/professional-trainer-1380.jpg')
        #time-img
            background-image: url('../img/choose-time-1380.jpg')
        #gift-img
            background-image: url('../img/gift-1380.jpg')
