.care
    @include padding-around
    background-color: $primary-bg-white

    &__heading
        @include secondary-h3()

    &__container
        //margin-top: 60px
        //display: flex
        //justify-content: space-between

    &__checks
        padding: 0
        border: none

        //display: flex
        //flex-direction: column

    &__input
        display: none

        //&:checked + .care__label > .care__arrow
        //    transform: translateX(0px)
        //&:checked + .care__label > .care__arrow + span
        //    transform: translateX(0px)
        //&:checked + .care__label
        //    border-bottom: 2px solid $tertiary-green_01

    &__label
        display: inline-block
        margin-top: 40px
        font-style: normal
        font-weight: 500
        font-size: 18px
        line-height: 24px

        //width: 420px
        //padding: 20px 0
        //border-bottom: 1px solid $tertiary-dark-grey
        //@include primary-h3-text
        //color: $primary-text-grey
        //cursor: pointer
        //transition: border-bottom-color .3s ease-in-out
        //overflow: hidden

    &__arrow
        display: none
        //margin-right: 20px
        //display: inline-block
        //transform: translateX(-60px)
        //transition: transform .5s ease-in-out, opacity .5s
        //& + span
        //    display: inline-block
        //    transform: translateX(-60px)
        //    transition: transform.5s ease-in-out, opacity .5s

    &__arrow-img

    &__slides

    &__slide
        //display: none

    &__img
        display: none

    &__text
        margin-top: 17px
        @include tertiary-h4
        //margin-top: 20px
        //@include primary-h3-text
        //color: $primary-text-grey
