.footer
    padding: 60px
    @include padding-left-right-calc
    background-color: $primary-bg-gray
    display: flex

    &__row
        display: flex
        flex-direction: column

    &__heading
        margin-bottom: 20px
        @include primary-h3-bold
        color: $primary-text-white

    &__link
        margin-top: 12px
        @include tertiary-h4
        color: $primary-text-white
        text-decoration: none
