.fyway
    @include padding-around
    background-color: $primary-bg-white

    &__heading
        @include secondary-h3-bold()

    &__container
        display: flex
        flex-wrap: wrap
        gap: 10px

    &__item
        margin-top: 26px
        display: flex
        flex-direction: column
        flex: 1 1 288px
        @include padding-left-right-calc($media-mobile)

    &__item-img
        width: 288px
        height: 288px
        align-self: center

    &__item-heading
        margin-top: 16px
        @include secondary-text-h3-bold()

    &__item-text
        margin-top: 10px
        @include secondary-text-h3()


    //&__swiper-container
    //    margin-top: 40px
    //    max-width: 340px
    //    //height: 350px
    //
    //&__swiper-wrapper
    //
    //&__swiper-slide
    //    //max-width: calc(100vw - 60px)
    //    display: flex
    //    flex-direction: column
    //    border-radius: 5px
    //    overflow: hidden
    //
    //&__card-img
    //
    //&__arrow
    //    display: block
    //    margin-left: auto

    //&__swiper-pagination

    //&__swiper-button-prev
    //    color: $tertiary-light-grey
    //
    //&__swiper-button-next
    //    color: $tertiary-light-grey

    //&__swiper-scrollbar


@media (min-width: $media-tablet)
    .fyway
        padding: 60px 30px

        &__heading
            @include secondary-h1()

        &__container
            gap: 28px

        &__item
            flex: 1 1 340px
            padding-left: 0
            padding-right: 0

        &__item-heading
            @include secondary-text-h2-bold()

        &__item-text
            @include secondary-text-h3()

        &__item-img
            width: 340px
            height: 340px

        //&__swiper-container
        //    margin-top: 10px
        //    max-width: none
        //    margin-left: 0
        //    margin-right: 0
        //
        //&__swiper-wrapper
        //    flex-wrap: wrap
        //    justify-content: space-evenly
        //
        //&__swiper-slide
        //    margin-top: 30px
        //    flex-basis: 340px
        //
        //&__swiper-button-prev
        //    display: none
        //
        //&__swiper-button-next
        //    display: none
@media (min-width: 1130px)
    .fyway
        &__item
            flex: 1 1 362px

@media (min-width: $media-desktop)
    .fyway
        padding: 80px 0
        @include padding-left-right-calc($content)

        &__heading
            //@include primary-h2

        &__container
            flex-wrap: nowrap
            gap: 10px

        &__item
            flex: 1 1 273px

        &__item-img
            width: 273px
            height: 273px

        //&__swiper-container
        //    margin-top: 50px
        //    //margin: 80px 0
        //    //display: none

        &__cards
            //margin-top: 80px
            //display: flex
            //flex-wrap: wrap
            //justify-content: space-around

        &__card
            //flex-basis: 340px

        &__item-img

        &__item-heading
            //position: static
            //margin-top: 20px
            //@include primary-h3-bold

        &__item-text
            //position: static
            //margin-top: 16px
            //@include primary-h3-text
