.hiworks
    @include padding-around
    //@include padding-left-right-calc($media-mobile)
    background-color: $primary-bg-white

    &__heading
        @include secondary-h3-bold()

    &__container
        margin: 26px 0
        display: flex
        justify-content: space-between
        align-items: center

    &__img-box
        display: none

    &__link-arrow
        display: inline-block
        margin-left: 50%
        transform: translateX(-50%)
        @include link-arrow()
        @include secondary-text-h3-bold($secondary-text-orange)

    &__cards
        //max-width: 502px
        //display: flex
        //flex-wrap: wrap

    &__card
        display: flex
        &:last-child  .hiworks__card-text
            margin-bottom: 0

    &__card-element
        margin-right: 14px
        padding-top: 7px
        display: flex
        flex-direction: column
        flex-basis: 60px
        flex-shrink: 0

        background: linear-gradient(180deg, transparent 26px, $secondary-text-orange 27px, $secondary-text-orange 27px, transparent 28px), linear-gradient(90deg, transparent 19px, $secondary-text-orange 20px, $secondary-text-orange 20px, transparent 21px)

    &__card-circle
        height: 40px
        width: 40px
        flex-shrink: 0
        border: 1px solid $secondary-text-orange
        border-radius: 50%
        text-align: center
        background: #EDECEA

        font-style: normal
        font-weight: 500
        font-size: 18px
        line-height: 40px
        letter-spacing: 0.44px
        color: $secondary-text-orange

    &__card-content

    &__card-head
        @include secondary-text-h3-bold()

    &__card-text
        margin: 10px 0 30px
        @include secondary-text-h3()
        & + ul
            @include secondary-text-h3()
            list-style-position: inside
            list-style-type: '❖ '
            margin-bottom: 30px


@media (min-width: $media-tablet)
    .hiworks
        padding: 60px 30px

        &__container
            @include padding-left-right-calc($media-tablet)

        &__heading
            @include secondary-h1()

        &__card-head
            @include secondary-text-h2-bold()

        &__card-text
            @include secondary-text-h3()

        &__link-arrow
            margin-left: 40px
            transform: translateX(0)


@media (min-width: $media-desktop)
    .hiworks
        padding: 80px 0
        @include padding-left-right-calc(1200px)

        &__container
            @include padding-left-right-calc()

        &__img-box

            display: flex
            flex-direction: column
            align-items: center

        &__img
            width: 492px
            height: 592px
            background-image: url('../img/girl-on-sofa-492.jpg')
            background-size: cover
            @include retina($media-desktop)
                background-image: url('../img/girl-on-sofa-984.jpg')

        &__link-arrow
            margin-top: 40px
            //display: inline-block
            //@include link-arrow
            //@include secondary-text-h3-bold()
            //border: 2px solid #979797

        &__element

        &__cards
            max-width: 620px

        //&__card
        //    &:last-child .hiworks__card-text
        //        margin-bottom: 0

        &__card-element

        &__card-circle

        &__card-content

        &__card-head
            @include secondary-text-h2-bold()

        &__card-text
            @include secondary-text-h3()
