.hiworks
    @include padding-mobile

    &__heading
        @include secondary-h3

    &__container
        margin-top: 40px
        display: flex
        justify-content: space-between
        align-items: center

    &__img
        display: none
        // width: 50%

    &__element
        //margin-left: 88px

    &__cards
        //max-width: 502px
        //display: flex
        //flex-wrap: wrap

    &__card
        &:first-child .hiworks__card-head
            margin-top: 0

    &__card-head
        margin-top: 20px
        font-size: 18px
        line-height: 24px
        color: $secondary-text-green
        //@include primary-h3-bold

    &__card-text
        font-size: 18px
        line-height: 24px
        color: $primary-text-grey
        margin-top: 10px
        //@include primary-h3-text
