/* Text primary */
@mixin primary-h1($text-color: $primary-text-white)
    font-style: normal
    font-weight: 500
    font-size: 64px
    line-height: 72px
    letter-spacing: 0.44px
    color: $text-color

@mixin primary-h2($text-color: $primary-text-grey)
    font-style: normal
    font-weight: 500
    font-size: 48px
    line-height: 64px
    letter-spacing: 0.44px
    color: $text-color

@mixin primary-h3-text($text-color: $primary-text-grey)
    font-style: normal
    font-weight: 400
    font-size: 24px
    line-height: 36px
    letter-spacing: 0.44px
    color: $text-color

@mixin primary-h3-bold($text-color: $primary-text-grey)
    font-style: normal
    font-weight: 700
    font-size: 24px
    line-height: 36px
    letter-spacing: 0.44px
    color: $text-color

/* Text secondary */
@mixin secondary-h2($text-color: $primary-text-grey)
    font-style: normal
    font-weight: 500
    font-size: 36px
    line-height: 48px
    letter-spacing: 0.44px
    color: $text-color

@mixin secondary-h3($text-color: $primary-text-grey)
    font-style: normal
    font-weight: 500
    font-size: 24px
    line-height: 36px
    letter-spacing: 0.44px
    color: $text-color

/* Text tertiary */
@mixin tertiary-h4($text-color: $primary-text-grey)
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 24px
    color: $text-color

@mixin padding-around($top: 60px, $left-right: 16px, $bottom: 40px)
    padding: $top $left-right $bottom

@mixin bg-img($pos1: center, $pos2: center, $size: contain)
    background-repeat: no-repeat
    background-size: $size
    background-position: $pos2 $pos1    //Поменял местами позиции

@mixin padding-left-right-calc($content: 1200px)
    padding-left: calc(50% - #{$content / 2})
    padding-right: calc(50% - #{$content / 2})

@mixin link-arrow()
    padding: 14px 16px
    border: 2px solid #FFFFFF
    border-radius: 5px
    text-decoration: none
