#menu-burger
    display: none

.navbar
    position: relative
    display: flex
    justify-content: center
    align-items: center

    &__label
        position: absolute
        left: 0
        top: 0


    &__menu

    &__logo
        padding: 6px

    &__list
        display: none
        list-style: none
