.header
    //background-color: #fff
    background-image: linear-gradient(to right, #528b6a, #a8ceb9)
    position: fixed
    width: 100%
    z-index: 3

    & .logo
        display: block
        float: left
        padding: 12px 20px 6px
        position: absolute
        z-index: 5
        & img
            width: 66px
            height: 37px

    & li a
        display: block
        padding: 20px 20px
        text-decoration: none
        font-style: normal
        font-weight: 600
        font-size: 18px
        line-height: 24px
        color: $primary-text-white
        transition: color .1s
        &:hover
            color: $secondary-text-orange-hover

    & .menu-btn:hover
        background-color: #ded9d9

    & .menu
        height: 100vh
        padding-top: 100px
        position: absolute
        top: -100vh
        bottom: 0
        left: 0
        right: 0
        opacity: 0
        display: flex
        flex-direction: column
        list-style: none
        background-image: linear-gradient(to right, #528b6a, #a8ceb9)
        transition: all .3s ease-out
        transition-property: top, opacity

    & .menu-btn:checked ~ .menu
        top: 0
        opacity: 1

    & .menu-icon
        cursor: pointer
        display: inline-block
        float: right
        padding: 28px 20px
        position: relative
        z-index: 5
        user-select: none

    &__link-box
        display: flex
        justify-content: space-around
        margin-top: 20px
        &-link
            &-icon
                width: 30px
                height: 30px

    & .menu-icon .navicon
        background: $primary-bg-white
        display: block
        height: 2px
        position: relative
        transition: background .2s ease-out
        width: 18px

    & .menu-icon .navicon:before
        background: $primary-bg-white
        content: ''
        display: block
        height: 100%
        top: 5px
        position: absolute
        transition: all, top .2s ease-out
        transition-property: transform, top
        width: 100%

    & .menu-icon .navicon:after
        background: $primary-bg-white
        content: ''
        display: block
        height: 100%
        top: -5px
        position: absolute
        transition: all, top .2s ease-out
        transition-property: transform, top
        width: 100%

    & .menu-btn
        display: none

    & .menu-btn:checked ~ .menu-icon .navicon
        background: transparent

    & .menu-btn:checked ~ .menu-icon .navicon:before
        transform: rotate(-45deg)
        top: 0

    & .menu-btn:checked ~ .menu-icon .navicon:after
        transform: rotate(45deg)
        top: 0

@media (min-width: $media-tablet)
    .header

        & .logo

            & img
                width: 82px
                height: 46px

        &__link-box
            justify-content: flex-start
            &-link
                margin: 0 20px

@media (min-width: $media-desktop)
    .header
        position: static
        background: transparent
        & .logo

            & img
                width: 162px
                height: 91px

        & li
            float: left
            font-style: normal
            font-weight: 500
            font-size: 18px
            line-height: 24px

        & li a
            padding: 20px 30px

        & .menu
            max-height: none
            background: transparent
            display: flex
            justify-content: flex-end
        &__link-box
            display: none

        & .menu-icon
            display: none


