.subscribe
    @include padding-around()
    background-color: $primary-bg-white

    &__heading
        @include secondary-h3-bold()

    &__cards
        margin-top: 30px
        display: flex
        flex-wrap: wrap
        justify-content: space-evenly
        //gap: 16px

    &__card
        width: calc((100% - 32px) / 2)
        min-height: 154px
        margin: 8px
        padding: 18px 10px
        border-radius: 5px
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center
        background-color: $secondary-text-green
        &:last-child
            display: none

    &__card-heading
        display: none

    &__card-count
        color: $primary-text-white
        text-align: center
        font-weight: 500
        font-size: 14px
        line-height: 18px

    &__card-gift
        margin-top: 6px
        color: $primary-text-white
        font-weight: normal
        font-size: 12px
        line-height: 14px

    &__card-price
        margin-top: 6px
        color: $primary-text-white
        font-weight: bold
        font-size: 24px
        line-height: 36px

    &__card-link
        margin-top: 12px
        color: $primary-text-white
        @include link-arrow-mobile-sm($primary-text-white)

    &__ps
        margin-top: 10px
        font-weight: normal
        font-size: 12px
        line-height: 18px

@media (min-width: $media-tablet)
    .subscribe
        padding: 60px 30px 30px

        &__heading
            font-style: normal
            font-weight: 500
            font-size: 64px
            line-height: 72px

        &__cards
            margin-top: 40px
            padding-left: calc(50% - 244px)
            padding-right: calc(50% - 244px)
            justify-content: center

        &__card
            width: 220px
            min-height: 269px
            margin: 12px
        &__card-heading
            display: block
            @include secondary-text-h2-bold($primary-text-white)

        &__card-count
            font-style: normal
            font-weight: 450
            font-size: 24px
            line-height: 36px

        &__card-gift
            font-style: normal
            font-weight: 500
            font-size: 24px
            line-height: 36px

        &__card-price
            margin-top: 27px
            font-style: normal
            font-weight: 500
            font-size: 36px
            line-height: 48px

        &__card-link
            margin-top: 10px
            font-style: normal
            font-weight: 500
            font-size: 24px
            line-height: 36px
            @include link-arrow-tablet-sm($primary-text-white)

        &__ps
            font-size: 14px
            line-height: 21px

@media (min-width: $media-desktop)
    .subscribe
        padding: 80px 0
        @include padding-left-right-calc($content)

        &__heading
            @include landing-h3()

        &__cards
            margin-top: 80px
            padding-left: 0
            padding-right: 0

        &__card
            padding: 20px 0
            margin: 7px
            &:last-child
                display: flex

        &__card-heading
            display: block
            @include landing-h4($primary-text-white)

        &__card-count
            @include landing-h6($primary-text-white)

        &__card-gift
            @include landing-h4($primary-text-white)

        &__card-price
            margin-top: 27px
            @include landing-h2()

        &__card-link
            padding: 10px
            @include link-arrow-desktop-sm($primary-text-white)

        .isDisabled
            color: $primary-text-white
            cursor: not-allowed
            opacity: 0.5

        &__ps
            display: none