.top
	padding: 0 16px 309px
	background-image: url('../img/main-girl-copy.png'), linear-gradient(to right, #528b6a, #a8ceb9)
	//TODO element
	//url('../img/Эллемент.png'),
	@include bgi(bottom)

	&__heading
		margin: 40px 0 0
		@include secondary-h2($primary-text-white)

	&__text
		margin-top: 20px
		@include secondary-h3($primary-text-white)

	&__link-arrow
		display: inline-block
		margin-top: 40px
		@include link-arrow
		@include tertiary-h4($primary-text-white)
