.top
	padding-bottom: 167px
	background-image: url('../img/Главная_девушка.png'), linear-gradient(to right, #528b6a, #a8ceb9)
	//url('../img/Эллемент.png'),
	@include bgi
	@include pltc

	&__heading
		max-width: 714px
		margin-top: 133px
		@include heading-1

	&__text
		max-width: 588px
		margin: 40px 0 70px
		@include paragraph

	&__link-arrow
		//margin-top: 70px
		