.trainers
    //padding: 80px
    @include padding-around()
    background-color: $primary-bg-white

    &__heading
        @include secondary-h3

    &__swiper-container
        margin-top: 40px
        height: 360px
        width: 250px
    &__swiper-wrapper
    &__swiper-slide
        display: flex
        flex-direction: column-reverse

        background-repeat: no-repeat
        &:nth-child(1)
            background-image: url('../img/smiling-sports-woman-standing-with-arms-folded-and-looking-at-camera-isolated-on-white-wall-1.jpg')
        &:nth-child(2)
            background-image: url('../img/sportive-man-black-shirt-closing-his-arm-muscles-1.jpg')
        &:nth-child(3)
            background-image: url('../img/strong-muscular-blonde-girl-preparing-for-a-competition-with-blue-dumbbells-on-white-1.jpg')
    &__swiper-pagination
    &__swiper-button-prev
    &__swiper-button-next
    &__swiper-scrollbar

    &__cards
        //margin-top: 80px
        //display: flex
        //gap: 40px

    &__card

    &__card-img
        //border-radius: 5px

    &__card-head
        padding: 16px 0 10px
        order: 2
        border-bottom: 1px solid #9EAEA4


        //margin-top: 30px
        //padding-bottom: 10px
        //display: flex
        //align-items: center
        //border-bottom: 1px solid $tertiary-dark-grey

    &__card-name

        font-style: normal
        font-weight: 500
        font-size: 18px
        line-height: 24px
        //@include secondary-h2
        //color: $primary-text-grey

    &__card-link
        //@include secondary-h3
        //color: $secondary-text-orange
        //text-decoration: none
        //border: 2px solid $secondary-text-orange
        //border-radius: 5px
        //padding: 6px 16px

    &__card-body
        padding-top: 10px

    &__card-type
        @include tertiary-h4

        //@include secondary-h3
        //text-align: left
        //color: $primary-text-grey

    &__card-rating
        @include tertiary-h4

        //margin-top: 10px
        //@include secondary-h3
        //text-align: left
        //color: $primary-text-grey

    &__arrows
        //margin: 100px auto 0
        //display: flex
        //justify-content: center
        //gap: 60px

    &__arrow

@media (min-width: $media-desktop)
    .trainers
        //padding: 80px
        //@include pltc
        //background-color: $primary-bg-white

        &__heading
            //@include primary-h2
            //color: $primary-text-grey

        &__cards
            //margin-top: 80px
            //display: flex
            //gap: 40px

        &__card

        &__card-img
            //border-radius: 5px

        &__card-head
            //margin-top: 30px
            //padding-bottom: 10px
            //display: flex
            //align-items: center
            //border-bottom: 1px solid $tertiary-dark-grey

        &__card-name
            //@include secondary-h2
            //color: $primary-text-grey

        &__card-link
            //@include secondary-h3
            //color: $secondary-text-orange
            //text-decoration: none
            //border: 2px solid $secondary-text-orange
            //border-radius: 5px
            //padding: 6px 16px

        &__card-body
            //padding-top: 10px

        &__card-type
            //@include secondary-h3
            //text-align: left
            //color: $primary-text-grey

        &__card-rating
            //margin-top: 10px
            //@include secondary-h3
            //text-align: left
            //color: $primary-text-grey

        &__arrows
            //margin: 100px auto 0
            //display: flex
            //justify-content: center
            //gap: 60px

        &__arrow
