.trainers
    @include padding-around()
    background-color: $primary-bg-white

    &__heading
        @include secondary-h3

    &__swiper-container
        margin-top: 40px
        width: 250px

    &__swiper-wrapper

    &__swiper-slide
        display: flex
        flex-direction: column
        background-repeat: no-repeat

    &__arrow
        display: block
        margin-left: auto

    &__swiper-pagination
    &__swiper-button-prev
    &__swiper-button-next
    &__swiper-scrollbar

    &__cards

    &__card

    &__card-img
        border-radius: 5px

    &__card-head
        padding: 16px 0 10px
        border-bottom: 1px solid #9EAEA4

    &__card-name
        font-style: normal
        font-weight: 500
        font-size: 18px
        line-height: 24px

    &__card-link

    &__card-body
        padding-top: 10px

    &__card-type
        @include tertiary-h4

    &__card-rating
        display: flex
        @include tertiary-h4

    &__card-rating-icon
        margin-left: 6px

    &__arrows

    &__arrow

@media (min-width: $media-desktop)
    .trainers
        padding: 80px 0
        @include padding-left-right-calc($content)
        background-color: $primary-bg-white

        &__heading
            @include primary-h2

        &__swiper-container
            width: 1233px
            margin-top: 80px

        &__cards
            //margin-top: 80px
            //display: flex
            //gap: 40px

        &__card

        &__card-img
            //border-radius: 5px

        &__card-head
            margin-top: 30px
            //padding-bottom: 10px
            //display: flex
            //align-items: center
            //border-bottom: 1px solid $tertiary-dark-grey

        &__card-name
            @include secondary-h2

        &__card-link

        &__card-body
            //padding-top: 10px

        &__card-type
            @include secondary-h3
            //text-align: left
            //color: $primary-text-grey

        &__card-rating
            //margin-top: 10px
            @include secondary-h3
            align-items: center
            //text-align: left
            //color: $primary-text-grey

        &__arrows
            //margin: 100px auto 0
            //display: flex
            //justify-content: center
            //gap: 60px

        &__arrow
