$primary-text-white: #F8F2EC
$primary-text-grey: #4C4C4C

$secondary-text-green: #3D6950
$secondary-text-orange: #FF5026

$primary-bg-white: #EDECEA
$primary-bg-light_green: #DEE2E0
$primary-background-gray: #3E4149

$tertiary-dark-grey: #9EAEA4
$tertiary-green_01: #0A873C