/* Primary */
$primary-text-white: #F8F2EC
$primary-text-grey: #4C4C4C

$primary-bg-white: #EDECEA
$primary-bg-light-green: #DEE2E0
$primary-bg-gray: #3E4149

/* Primary */
$secondary-text-green: #3D6950
$secondary-text-orange: #FF5026

/* Tertiary */
$tertiary-dark-grey: #9EAEA4
$tertiary-green-01: #0A873C

/* Settings */
$content: 1200px
$media-desktop: 1024px
